

<h4>Please type in the first and last name</h4>

<form id = "searchField">
    <div class="form-group">
        <label for="firstname">First Name:
            <input type = "text" class ="form-control" name = "firstname" id = "firstname" value=""/>
        </label>
    </div>
    <div class = "form-group">
        <label for = "lastname">Last Name: 
            <input type="text" class = "form-control" name = "lastname" id = "lastname" value =""/>
        </label>
    </div>
    <button type="button" class="btn hvr-sweep-to-bottom" id ="searchButton">Search</button>
</form>
